body {
    background-color: #58a2d3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.title{
    justify-content: center;
}
.modal-container {
    background-color: white;
    padding: 20px;
    text-align: center;
}
.modal-content {
    max-width: 500px;
    margin: 0 auto;
}
.form-group {
    margin-bottom: 15px;
    text-align: left;
}
textarea {
    width: 100%;
    height: 100px;
    resize: vertical;
}
.button-container {
    margin-top: 20px;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 0 10px;
}
